@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
body,
figure {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #F2F2F2;
}

img.res {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.actions a:hover,
.actions button:hover {
  -webkit-animation: emphasis .4s both ease-out;
          animation: emphasis .4s both ease-out;
}

.actions a:not(:last-child),
.actions button:not(:last-child) {
  margin-right: 16px;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 120vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

::-webkit-scrollbar {
  background: #c9c9c9;
}

::-webkit-scrollbar-thumb {
  background: #4c4c4c;
}

html {
  font-weight: 400;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.4;
  color: #727272;
}

@media screen and (min-width: 0) {
  html {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 15px;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 16px;
  }
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 48px;
}

h4,
.title {
  font-size: 34px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

small {
  font-size: .8em;
}

strong {
  font-weight: 700;
  color: #BEA473;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
  line-height: 1.2;
  margin: 0;
  font-weight: inherit;
  font-family: 'Josefin Sans', sans-serif;
}

p {
  margin: .25rem 0;
  line-height: inherit;
}

address {
  font-style: normal;
}

time {
  font-size: 1rem;
  font-weight: 600;
  color: rgba(102, 102, 102, 0.8);
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:not(.btn) {
  color: #033864;
  font-weight: 600;
}

a:not(.btn):hover, a:not(.btn).active {
  color: #0562ae;
}

hr {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.error {
  font-size: 24px;
  color: #F44336;
  text-align: center;
  letter-spacing: 1px;
  padding: 8px 0;
  font-weight: 600;
  -webkit-animation: slide-out .3s ease-out;
          animation: slide-out .3s ease-out;
}

.container, #mainHeader .content {
  max-width: 1280px;
  margin: 0 auto;
  width: 90%;
}

@media screen and (min-width: 768px) {
  .container, #mainHeader .content {
    width: 85%;
  }
}

@media screen and (min-width: 1440px) {
  .container, #mainHeader .content {
    width: 80%;
  }
}

.row, section .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: .5rem -.5rem;
}

.row .col, section .slide .col {
  padding: .5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.row .col.s1, section .slide .col.s1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 8.33333%;
          flex: 1 0 8.33333%;
}

.row .col.s2, section .slide .col.s2 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 16.66667%;
          flex: 1 0 16.66667%;
}

.row .col.s3, section .slide .col.s3 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
}

.row .col.s4, section .slide .col.s4 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 33.33333%;
          flex: 1 0 33.33333%;
}

.row .col.s5, section .slide .col.s5 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 41.66667%;
          flex: 1 0 41.66667%;
}

.row .col.s6, section .slide .col.s6 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
}

.row .col.s7, section .slide .col.s7 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 58.33333%;
          flex: 1 0 58.33333%;
}

.row .col.s8, section .slide .col.s8 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 66.66667%;
          flex: 1 0 66.66667%;
}

.row .col.s9, section .slide .col.s9 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 75%;
          flex: 1 0 75%;
}

.row .col.s10, section .slide .col.s10 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 83.33333%;
          flex: 1 0 83.33333%;
}

.row .col.s11, section .slide .col.s11 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 91.66667%;
          flex: 1 0 91.66667%;
}

.row .col.s12, section .slide .col.s12 {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 100%;
          flex: 1 0 100%;
}

@media screen and (min-width: 1366px) {
  .row .col.m1, section .slide .col.m1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 8.33333%;
            flex: 0 1 8.33333%;
  }
  .row .col.m2, section .slide .col.m2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.66667%;
            flex: 0 1 16.66667%;
  }
  .row .col.m3, section .slide .col.m3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
  .row .col.m4, section .slide .col.m4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33333%;
            flex: 0 1 33.33333%;
  }
  .row .col.m5, section .slide .col.m5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 41.66667%;
            flex: 0 1 41.66667%;
  }
  .row .col.m6, section .slide .col.m6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .row .col.m7, section .slide .col.m7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58.33333%;
            flex: 0 1 58.33333%;
  }
  .row .col.m8, section .slide .col.m8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.66667%;
            flex: 0 1 66.66667%;
  }
  .row .col.m9, section .slide .col.m9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
  }
  .row .col.m10, section .slide .col.m10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 83.33333%;
            flex: 0 1 83.33333%;
  }
  .row .col.m11, section .slide .col.m11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 91.66667%;
            flex: 0 1 91.66667%;
  }
  .row .col.m12, section .slide .col.m12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media screen and (min-width: 1440px) {
  .row .col.l1, section .slide .col.l1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 8.33333%;
            flex: 0 1 8.33333%;
  }
  .row .col.l2, section .slide .col.l2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 16.66667%;
            flex: 0 1 16.66667%;
  }
  .row .col.l3, section .slide .col.l3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
  }
  .row .col.l4, section .slide .col.l4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.33333%;
            flex: 0 1 33.33333%;
  }
  .row .col.l5, section .slide .col.l5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 41.66667%;
            flex: 0 1 41.66667%;
  }
  .row .col.l6, section .slide .col.l6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
  .row .col.l7, section .slide .col.l7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58.33333%;
            flex: 0 1 58.33333%;
  }
  .row .col.l8, section .slide .col.l8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 66.66667%;
            flex: 0 1 66.66667%;
  }
  .row .col.l9, section .slide .col.l9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 75%;
            flex: 0 1 75%;
  }
  .row .col.l10, section .slide .col.l10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 83.33333%;
            flex: 0 1 83.33333%;
  }
  .row .col.l11, section .slide .col.l11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 91.66667%;
            flex: 0 1 91.66667%;
  }
  .row .col.l12, section .slide .col.l12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media screen and (max-width: 600px) {
  .row .fw, section .slide .fw, .row .col.s1, section .slide .col.s1, .row .col.s2, section .slide .col.s2, .row .col.s3, section .slide .col.s3, .row .col.s4, section .slide .col.s4, .row .col.s5, section .slide .col.s5, .row .col.s6, section .slide .col.s6, .row .col.s7, section .slide .col.s7, .row .col.s8, section .slide .col.s8, .row .col.s9, section .slide .col.s9, .row .col.s10, section .slide .col.s10, .row .col.s11, section .slide .col.s11, .row .col.s12, section .slide .col.s12 {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.gallery {
  display: -ms-grid;
  display: grid;
      grid-template-areas: 'g1 g1 g2 g2 g2 g3 g3 g4 g4 g7 g7 g7' 'g5 g5 g5 g6 g6 g6 g6 g6 g6 g7 g7 g7';
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

@media screen and (max-width: 768px) {
  .gallery {
        grid-template-areas: 'g1 g1 g1 g1 g1 g2 g2 g2 g2 g2 g2 g2' 'g3 g3 g3 g3 g4 g4 g4 g4 g5 g5 g5 g5' 'g7 g7 g7 g7 g7 g7 g7 g6 g6 g6 g6 g6';
  }
}

.gallery figure {
  max-height: 260px;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 769px) {
  .gallery figure:last-child {
    max-height: 540px;
  }
}

.gallery figure img {
  height: 100%;
}

.gallery figure span {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  background: rgba(3, 56, 100, 0.8);
  font-family: 'Josefin Sans', sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-decoration: underline;
  -webkit-text-decoration-color: #BEA473;
          text-decoration-color: #BEA473;
}

.gallery figure span:hover {
  opacity: 1;
}

.gallery .g1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: g1;
}

.gallery .g2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: g2;
}

.gallery .g3 {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  -ms-grid-column-span: 2;
  grid-area: g3;
}

.gallery .g4 {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
  -ms-grid-column-span: 2;
  grid-area: g4;
}

.gallery .g5 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: g5;
}

.gallery .g6 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-column-span: 6;
  grid-area: g6;
}

.gallery .g7 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 10;
  -ms-grid-column-span: 3;
  grid-area: g7;
}

@-webkit-keyframes slide-out {
  from {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    opacity: 0;
    -webkit-transform: translateY(2rem);
            transform: translateY(2rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slide-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes emphasis {
  0% {
    -webkit-transform: translateX(0, 0) rotate(0);
            transform: translateX(0, 0) rotate(0);
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
  40% {
    -webkit-transform: translateX(1px) rotate(1deg);
            transform: translateX(1px) rotate(1deg);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  100% {
    -webkit-transform: translateX(0) rotate(0);
            transform: translateX(0) rotate(0);
  }
}

@keyframes emphasis {
  0% {
    -webkit-transform: translateX(0, 0) rotate(0);
            transform: translateX(0, 0) rotate(0);
    -webkit-filter: blur(1px);
            filter: blur(1px);
  }
  40% {
    -webkit-transform: translateX(1px) rotate(1deg);
            transform: translateX(1px) rotate(1deg);
    -webkit-filter: blur(0);
            filter: blur(0);
  }
  100% {
    -webkit-transform: translateX(0) rotate(0);
            transform: translateX(0) rotate(0);
  }
}

@-webkit-keyframes tile-out {
  from {
    opacity: 0;
    -webkit-transform: rotate(0) translateX(-100%);
            transform: rotate(0) translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(45deg) translateX(0);
            transform: rotate(45deg) translateX(0);
  }
}

@keyframes tile-out {
  from {
    opacity: 0;
    -webkit-transform: rotate(0) translateX(-100%);
            transform: rotate(0) translateX(-100%);
  }
  to {
    opacity: 1;
    -webkit-transform: rotate(45deg) translateX(0);
            transform: rotate(45deg) translateX(0);
  }
}

nav#mainNavbar {
  height: 190px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 24px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(40%, rgba(255, 255, 255, 0.8)), color-stop(60%, rgba(255, 255, 255, 0.6)), to(transparent));
  background: linear-gradient(to bottom, #fff 0%, rgba(255, 255, 255, 0.8) 40%, rgba(255, 255, 255, 0.6) 60%, transparent 100%);
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
}

nav#mainNavbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav#mainNavbar ul i {
  line-height: inherit;
}

nav#mainNavbar ul a {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}

nav#mainNavbar ul img {
  height: 100px;
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
}

nav#mainNavbar ul li:not(:last-child) {
  margin-right: 48px;
}

@media screen and (max-width: 768px) {
  nav#mainNavbar ul {
    display: none;
  }
}

.btn-default, button,
.btn {
  font-weight: 300;
  text-transform: uppercase;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

button,
.btn {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border: 2px solid #BEA473;
  background: transparent;
  will-change: border-color, color;
  border-radius: 2px;
  color: rgba(255, 255, 255, 0.8);
  margin: 0;
  padding: 16px 40px;
  font-size: 24px;
  letter-spacing: 6px;
  line-height: 1em;
}

button:hover,
.btn:hover {
  border-color: rgba(255, 255, 255, 0.8);
}

button[disabled],
.btn[disabled] {
  color: rgba(0, 0, 0, 0.26);
  background-color: rgba(0, 0, 0, 0.12);
  border-color: rgba(0, 0, 0, 0.12);
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  padding: 24px;
  min-height: 172px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card figure {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 16px;
}

.card p {
  font-size: 22px;
}

.roomCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 672px;
}

.roomCard figure {
  padding-right: 16px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.roomCard figure img {
  height: 100%;
}

.roomCard .content {
  padding: 24px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  background: rgba(255, 255, 255, 0.8);
  position: relative;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.roomCard .content h3 {
  color: #033864;
  font-size: 43px;
  margin-top: 40px;
  margin-bottom: 58px;
}

.roomCard .content p {
  font-size: 20px;
  margin-bottom: 72px;
}

.roomCard span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.roomCard span img:not(:last-child) {
  margin-right: 52px;
}

.roomCard button {
  width: 100%;
  border: none;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #BEA473;
}

.tile {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: .75rem;
  height: 256px;
  overflow: hidden;
  -webkit-animation: slide-out .3s ease-out;
          animation: slide-out .3s ease-out;
}

.tile h5 {
  margin: 0;
  position: absolute;
  bottom: .75rem;
  left: .75rem;
}

.tile:hover:after {
  content: "";
  position: absolute;
  left: -64%;
  top: 0;
  width: 200%;
  height: 200%;
  background: rgba(255, 255, 255, 0.25);
  -webkit-animation: tile-out .3s ease-out;
          animation: tile-out .3s ease-out;
  -webkit-transform: rotate(45deg) translateX(0);
          transform: rotate(45deg) translateX(0);
}

a.tile:hover i {
  -webkit-animation: emphasis .4s both ease-out;
          animation: emphasis .4s both ease-out;
}

.col:nth-child(odd) a.tile {
  background: #c4c4c4;
}

.col:nth-child(even) a.tile {
  background: #bfbfbf;
}

a.tile .tile-icon {
  font-size: 6rem;
}

.ease, a:not(.btn) {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.ease-in {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.ease-out {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.imgRes {
  max-width: 100%;
  height: auto;
  display: block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 1367px) {
  .hide-laptop {
    display: none;
  }
}

@media only screen and (max-width: 1366px) {
  .hide-tablet {
    display: none;
  }
}

.p-0 {
  padding: 0px;
}

.p-4 {
  padding: 4px;
}

.p-8 {
  padding: 8px;
}

.p-16 {
  padding: 16px;
}

.p-24 {
  padding: 24px;
}

.p-32 {
  padding: 32px;
}

.p-40 {
  padding: 40px;
}

.p-48 {
  padding: 48px;
}

.p-56 {
  padding: 56px;
}

.p-64 {
  padding: 64px;
}

.p-72 {
  padding: 72px;
}

.p-80 {
  padding: 80px;
}

.p-88 {
  padding: 88px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-4 {
  padding-top: 4px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-16 {
  padding-top: 16px;
}

.pt-24 {
  padding-top: 24px;
}

.pt-32 {
  padding-top: 32px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-48 {
  padding-top: 48px;
}

.pt-56 {
  padding-top: 56px;
}

.pt-64 {
  padding-top: 64px;
}

.pt-72 {
  padding-top: 72px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-88 {
  padding-top: 88px;
}

.pr-0 {
  padding-right: 0px;
}

.pr-4 {
  padding-right: 4px;
}

.pr-8 {
  padding-right: 8px;
}

.pr-16 {
  padding-right: 16px;
}

.pr-24 {
  padding-right: 24px;
}

.pr-32 {
  padding-right: 32px;
}

.pr-40 {
  padding-right: 40px;
}

.pr-48 {
  padding-right: 48px;
}

.pr-56 {
  padding-right: 56px;
}

.pr-64 {
  padding-right: 64px;
}

.pr-72 {
  padding-right: 72px;
}

.pr-80 {
  padding-right: 80px;
}

.pr-88 {
  padding-right: 88px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-4 {
  padding-bottom: 4px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-48 {
  padding-bottom: 48px;
}

.pb-56 {
  padding-bottom: 56px;
}

.pb-64 {
  padding-bottom: 64px;
}

.pb-72 {
  padding-bottom: 72px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-88 {
  padding-bottom: 88px;
}

.pl-0 {
  padding-left: 0px;
}

.pl-4 {
  padding-left: 4px;
}

.pl-8 {
  padding-left: 8px;
}

.pl-16 {
  padding-left: 16px;
}

.pl-24 {
  padding-left: 24px;
}

.pl-32 {
  padding-left: 32px;
}

.pl-40 {
  padding-left: 40px;
}

.pl-48 {
  padding-left: 48px;
}

.pl-56 {
  padding-left: 56px;
}

.pl-64 {
  padding-left: 64px;
}

.pl-72 {
  padding-left: 72px;
}

.pl-80 {
  padding-left: 80px;
}

.pl-88 {
  padding-left: 88px;
}

.m-0 {
  margin: 0px;
}

.m-4 {
  margin: 4px;
}

.m-8 {
  margin: 8px;
}

.m-16 {
  margin: 16px;
}

.m-24 {
  margin: 24px;
}

.m-32 {
  margin: 32px;
}

.m-40 {
  margin: 40px;
}

.m-48 {
  margin: 48px;
}

.m-56 {
  margin: 56px;
}

.m-64 {
  margin: 64px;
}

.m-72 {
  margin: 72px;
}

.m-80 {
  margin: 80px;
}

.m-88 {
  margin: 88px;
}

.mt-0 {
  margin-top: 0px;
}

.mt-4 {
  margin-top: 4px;
}

.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-48 {
  margin-top: 48px;
}

.mt-56 {
  margin-top: 56px;
}

.mt-64 {
  margin-top: 64px;
}

.mt-72 {
  margin-top: 72px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-88 {
  margin-top: 88px;
}

.mr-0 {
  margin-right: 0px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-8 {
  margin-right: 8px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.mr-32 {
  margin-right: 32px;
}

.mr-40 {
  margin-right: 40px;
}

.mr-48 {
  margin-right: 48px;
}

.mr-56 {
  margin-right: 56px;
}

.mr-64 {
  margin-right: 64px;
}

.mr-72 {
  margin-right: 72px;
}

.mr-80 {
  margin-right: 80px;
}

.mr-88 {
  margin-right: 88px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-48 {
  margin-bottom: 48px;
}

.mb-56 {
  margin-bottom: 56px;
}

.mb-64 {
  margin-bottom: 64px;
}

.mb-72 {
  margin-bottom: 72px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-88 {
  margin-bottom: 88px;
}

.ml-0 {
  margin-left: 0px;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-24 {
  margin-left: 24px;
}

.ml-32 {
  margin-left: 32px;
}

.ml-40 {
  margin-left: 40px;
}

.ml-48 {
  margin-left: 48px;
}

.ml-56 {
  margin-left: 56px;
}

.ml-64 {
  margin-left: 64px;
}

.ml-72 {
  margin-left: 72px;
}

.ml-80 {
  margin-left: 80px;
}

.ml-88 {
  margin-left: 88px;
}

.w-1 {
  width: 10%;
}

.w-2 {
  width: 20%;
}

.w-3 {
  width: 30%;
}

.w-4 {
  width: 40%;
}

.w-5 {
  width: 50%;
}

.w-6 {
  width: 60%;
}

.w-7 {
  width: 70%;
}

.w-8 {
  width: 80%;
}

.w-9 {
  width: 90%;
}

.w-10 {
  width: 100%;
}

#mainFooter {
  width: 100%;
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.8);
  background: #033864;
  margin-top: 260px;
}

#mainFooter img {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

#mainFooter address {
  text-align: center;
}

#mainHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#mainHeader:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
}

#mainHeader img.hero {
  height: 100vh;
}

#mainHeader video {
  height: calc(100vh - 136px);
}

#mainHeader img.hero,
#mainHeader video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

#mainHeader .content {
  z-index: 999;
  margin-bottom: 76px;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

#mainHeader .content h1 {
  color: #BEA473;
  line-height: .8;
}

#mainHeader .content h1.alt {
  color: rgba(255, 255, 255, 0.8);
}

#mainHeader .content h1 ~ p {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.8);
}

#mainHeader .content button {
  margin-top: 56px;
}

#mainHeader .squares {
  position: absolute;
  bottom: -56%;
  right: -160px;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  #mainHeader .squares {
    display: none;
  }
}

section header {
  text-align: center;
  padding: 168px 0;
}

section header h2 {
  font-size: 28px;
  font-weight: 300;
  text-transform: uppercase;
}

section header p {
  font-size: 24px;
  padding: 16px 72px;
}

section .slide {
  margin-bottom: 72px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 1366px) {
  section .slide {
    height: 300px;
  }
}

section .slide img {
  -webkit-animation: slide-out .3s ease;
          animation: slide-out .3s ease;
}

section .slide img,
section .slide .card {
  height: 100%;
}
/*# sourceMappingURL=style.css.map */