@keyframes open {
    from {
        max-height: 0;
        opacity: 0;
        filter: blur(3px);
    }

    to {
        max-height: 100%;
        opacity: 1;
        filter: none;
    }
}

@keyframes fade-in {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}