.btn-default {
    font-weight: $light;
    text-transform: uppercase;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

button,
.btn {
    @extend .btn-default;
    transition: all .3s ease;
    border: 2px solid $secondary;
    background: transparent;
    will-change: border-color, color;
    border-radius: 2px;
    color: $off-white;
    margin: 0;
    padding: 16px 40px;
    font-size: 24px;
    letter-spacing: 6px;
    line-height: 1em;
    &:hover {
        border-color: $off-white
    }
    &[disabled] {
        color: rgba(0, 0, 0, .26);
        background-color: rgba(0, 0, 0, .12);
        border-color: rgba(0, 0, 0, .12);
    }
}