form {
    @media screen and (min-width: $laptop) {
        padding: 0 120px;
    }
}

label,
input,
select,
textarea {
    font-size: $h5-size;
    font-weight: $regular;
    color: lighten($off-black, 25%);
}

fieldset {
    border: 0;
    padding: 0;
}

.formGroup {
    margin-top: 16px;
    margin-bottom: 16px;
}

input,
textarea,
select {
    background: $off-white;
    padding: 16px;
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 0;
    font-family: inherit;
    box-sizing: border-box;
    width: 100%;
    transition: all .3s ease-out;

    &:focus {
        border-bottom: solid .15rem $secondary;
    }

}

textarea {
    resize: none;
}



// chrome input fix
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px $off-white inset !important;
}