#mainHeader {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    position: relative;
    box-sizing: border-box;

    &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, .25);
        z-index: 1
    }

    video {
        max-height: calc(100vh - 136px);
    }

    img.hero,
    video {
        min-height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1
    }

    .content {
        @extend .container;
        z-index: 666;
        margin-bottom: 76px;
        text-shadow: 0 0 6px rgba(0, 0, 0, .25);

        h1 {
            color: $secondary;
            line-height: .8;

            &.alt {
                color: $off-white
            }
        }

        h1~p {
            font-size: 40px;
            color: $off-white
        }

        button {
            margin-top: 56px
        }
    }

    .squares {
        position: absolute;
        bottom: -56%;
        right: -160px;
        z-index: -1;

        @media screen and (max-width: $tablet) {
            display: none
        }
    }
}

section {
    header {
        text-align: center;
        padding: 148px 0;

        p {
            font-size: 24px;
            padding: 16px 72px;

            @media screen and (max-width: $tablet) {
                padding: 16px 0
            }
        }
    }

    .slide {
        @extend .row;
        margin-bottom: 72px;
        box-sizing: border-box;

        @media screen and (min-width: $laptop) {
            height: 300px;
        }

        img {
            animation: slide-out .3s ease
        }

        img,
        .card {
            height: 100%
        }
    }
}

nav.social {
    display: flex;
    justify-content: center;
    margin-top: 72px;

    a {
        border-radius: 50%;
        height: 50px;
        width: 50px;

        &:first-child {
            margin-right: 24px
        }
    }

    a:hover {
        background: $color
    }
}

.mainTitle {
    @extend .title;
    margin-top: 120px;

    @media screen and (min-width: $laptop) {
        width: 60%
    }
}