html {
    font-weight: $regular;
    font-family: 'PT Sans', sans-serif;
    line-height: 1.4;
    color: $gray;

    @media screen and (min-width: 0) {
        font-size: 14px;
    }

    @media screen and (min-width: $tablet) {
        font-size: 15px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 16px;
    }
}

// headings
h1 {
    font-size: $h1-size;
}

h2 {
    font-size: $h2-size;
    font-weight: $light;
    text-transform: uppercase;
}

h3 {
    font-size: $h3-size;
    color: $color;
    text-transform: uppercase;
}

h4,
.title {
    font-size: $h4-size;
}

h5 {
    font-size: $h5-size;
}

h6 {
    font-size: $h6-size;
}

small {
    font-size: .8em;
}

strong {
    font-weight: $bold;
    color: $secondary
}

h4,
h5,
h6,
a,
button {
    font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
button {
    line-height: 1.2;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
}

p {
    margin: .25rem 0;
    line-height: inherit
}

address {
    font-style: normal
}

time {
    font-size: 1rem;
    font-weight: $medium;
    color: lighten($off-black, 40%);
}

// links
a {
    text-decoration: none;
    cursor: pointer;

    &:not(.btn) {
        color: $color;
        font-weight: $medium;
        @extend .ease;

        &:hover,
        &.active {
            color: lighten($color, 15%);
        }
    }
}

// hr
hr {
    width: 100%;
    border: 1px solid $lineGray
}

// error text
.error {
    font-size: $h5-size;
    color: #F44336;
    text-align: center;
    letter-spacing: 1px;
    padding: 8px 0;
    font-weight: $medium;
    animation: slide-out .3s ease-out
}